{% extends "base.html" %}
{%  load static %}
{% block title %}タブ（親カテゴリ）・カテゴリ追加{% endblock %}


{% block content %}
<div class="container my-4">
    <h1 class="h4 mb-3">カテゴリ追加</h1>

<form method="post" novalidate>
    {% csrf_token %}

    {{ form.non_field_errors }}
    <label  for="id_name" name="new_category" id="id_name" class="form-label" >新しいタブ／カテゴリ名</label>
    {{ form.name }}
    <div class="form-label">※以下画像の「TOP・お知らせ」に相当するタブや、「あいさつ」に相当するカテゴリを追加します</div>
    <img src="{% static 'category_image.png' %}" alt="Category Image" class="img-fluid mb-3" style="max-width: 400px;">

    <div class="mb-3">
        <label for="id_parent_category" class="form-label">タブ・の追加／選択</label>
        <div class="form-label">※タブを追加したい場合は「タブを追加する」のまま、既存のタブ内に配置する場合はタブ名を選択してください。</div>
            <select name="parent_id"  class="form-select" id="id_parent_id">
            <!--ブランク値なら親カテゴリIDを持たないのでタブ追加扱い-->
                <option value=""> タブを追加する </option>        
                {% for cat in top_categories %}
                    <option value="{{ cat.id }}"> {{cat.name}} </option> 
                {% endfor %}        
            </select>
        </div>
    <div class="mb-3">
        <label for="id_category_display_order_tabs" class="form-label">表示順（タブ）</label>
        {{ form.category_display_order_tabs }}
    </div>
    <div class="mb-3">
        <label for="id_category_display_order_leftmenues" class="form-label">表示順（左メニュー）</label>
        {{ form.category_display_order_leftmenues }}
    </div>


</div>

<button type="submit" class="btn btn-primary">登録する</button>

</form>
</div>

{% endblock %}