{% extends "base.html" %}
{%  load static %}
{% block title %}タブ追加{% endblock %}

<!--breadcrumb-->
{% block crumblist %}
<li class="breadcrumb-item"><a href={% url "parent_contents" parent_id=8  %}>{{category.parent.name}}</a></li>
<li class="breadcrumb-item active" aria-current="page">タブ追加</li>
{% endblock %}
<!--breadcrumb-->

{% block content %}
<div class="container my-4">
    <h1 class="h4 mb-3">タブ追加</h1>

<form method="post" novalidate>
    {% csrf_token %}

    {{ form.non_field_errors }}
    <!--▼カテゴリの追加フォーム-->
    <label  for="id_name" name="new_category" id="id_name" class="form-label" >新しいタブ名</label>
    {{ form.name }}
    <div class="text-danger small">{{ form.name.errors }}</div>
    <div class="mb-3">
    <!--▲カテゴリの追加フォーム-->

    <!--▼カテゴリの親ID設定（VALUE=””を設定）-->

    <div class="mb-3">
        <!--選択済みの親カテゴリをデフォルトで選択済みに-->        
        <input type="hidden" name="parent_id" value="">
    </div>


    <!--▼タブ表示順の設定-->
    <div class="mb-3">
        <label for="id_category_display_order_tabs" class="form-label">表示順（タブ）</label>
        {{ form.category_display_order_tabs }}
    </div>
    <!--▲タブ表示順の設定-->




</div>

<button type="submit" class="btn btn-primary">タブを追加する</button>

</form>
</div>

{% endblock %}