
{% extends "base.html" %}
{%  load static %}
{% block title %}カテゴリと同時にコンテンツ追加{% endblock %}
{% block content %}

<div class="container my-4">
  <h1 class="h4 mb-3">カテゴリと同時にコンテンツ追加</h1>
<form method="post" novalidate>
  {% csrf_token %}

  {{ form.non_field_errors }}
    <div class="mb-3">
        <label for="id_category_name" class="form-label">新しいカテゴリ名</label>
        {{ category_form.name }}
        <div class="text-danger small">{{ form.category_name.errors }}</div>
    </div>
    <div class="mb-3">
        <input type="hidden" name="parent_id" value="{{ parent_id }}">
        <p>親カテゴリID:{{ parent_id }}</p>
    </div>
    <div class="mb-3">
        <label for="id_category_display_order_leftmenues" class="form-label">表示順（左メニュー）</label>
        {{ category_form.category_display_order_leftmenues }}
    </div>
    <hr>
    <div class="mb-3">
      <label for="id_administrator" class="form-label">管理者</label>
      {{ content_form.administrator }}
      <div class="text-danger small">{{ form.administrator.errors }}</div>
    </div>
    <div class="mb-3">
      <label for="id_title" class="form-label">タイトル</label>
      {{ content_form.title }}
      <div class="text-danger small">{{ form.title.errors }}</div>
    </div>
    <div class="mb-3">
      <label for="id_content_display_order" class="form-label">コンテンツ表示順（カテゴリ内）</label>
      {{ content_form.contents_display_order }}
    </div>
    <div class="mb-3">
      <label for="id_description" class="form-label">概要説明</label>
      {{ content_form.description }}
      <div class="text-danger small">{{ form.description.errors }}</div>
    </div>
    <div class="mb-3">
      <label for="id_updater_user_id" class="form-label">更新者ID</label>
      {{ content_form.updater_user_id }}
      <div class="text-danger small">{{ form.updater_user_id.errors }}</div>
    </div>
    <div class="mb-3">
      <label for="id_file_url" class="form-label">ファイルURL</label>
      {{ content_form.file_url }}
      <div class="text-danger small">{{ form.file_url.errors }}</div>
    </div>
    <div class="mb-3">
      <label for="id_file_type" class="form-label">ファイル種別</label>
      {{ content_form.file_type }}
      <div class="text-danger small">{{ form.file_type.errors }}</div>
    </div>
    <button type="submit" class="btn btn-primary">登録する</button>
</form>
</div>

{% endblock %}